<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Asma ferchichi | Statisics Card</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/executive.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/style-bar.css">
    <link rel="stylesheet" href="css/style-donut.css">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

</head>
<body>
    <div class="contenu">
        <div class="row" >
            <div class="">
            <div class="">
                <div class="row " >
                 <div class="col-md-12 md4style">
                    <div class="panel panel-default panelstyle">
                        <div class="panel-heading head" >
                            <div class=" col-md-12">
                                <span class="title">When you think about "the sciences", what comes into your mind?</span>
                            </div>
                        </div>
                        <div class="col-md-3 recap">
                            <span class="age">Age < 40</span>
                            <div class="card">
                                <div class="donut-chart chart1">
                                    <div class="slice one"></div>
                                    <div class="slice two"></div>
                                    <div class="chart-center">
                                        <span></span>
                                    </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-3 team">
                            <div class="secondFrame">
                                <div class="titleTeam">
                                    <h1>
                                        <span class="teamlogo"><i class="fa fa-map-marker"></i></span>
                                        <span class="teamh1">Cities</span>
                                    </h1>
                                </div>
                                <div class="containerTeam">
                                    <p ng-repeat="member in proj.build_resources">
                                        <span class="containerTeamLogo"><i class="fa fa-location-arrow"></i></span>
                                        <span>London</span>
                                    </p>
                                    <p ng-repeat="member in proj.build_resources">
                                        <span class="containerTeamLogo"><i class="fa fa-location-arrow"></i></span>
                                        <span>Cambridge</span>
                                    </p>
                                    <p ng-repeat="member in proj.build_resources">
                                        <span class="containerTeamLogo"><i class="fa fa-location-arrow"></i></span>
                                        <span>Brighton</span>
                                    </p>
                                    <p ng-repeat="member in proj.build_resources">
                                        <span class="containerTeamLogo"><i class="fa fa-location-arrow"></i></span>
                                        <span>Leeds</span>
                                    </p>
                                    <p ng-repeat="member in proj.build_resources">
                                        <span class="containerTeamLogo"><i class="fa fa-location-arrow"></i></span>
                                        <span>Birmingham</span>
                                    </p>
                                    <p ng-repeat="member in proj.build_resources">
                                        <span class="containerTeamLogo"><i class="fa fa-location-arrow"></i></span>
                                        <span>Manchester</span>
                                    </p>
                                </div>
                            </div>
                         </div>
                        <div class="col-md-6 thirdFrame">
                                    <div class="">
                                        <div class="titleThirdFrame">
                                            <h1>
                                                <span class="orchlogo"><i class="fa  fa-bar-chart "></i></span>
                                                <span class="orch1">Statistics</span>
                                            </h1>
                                        </div>
                                         <div class=" orchbars">
                                        
                                        <div class="">
                                            <div class="">
                                                <p>
                                                <div class="col-md-12">   
                                                    <div class='widget'> 
                                                       <div class='info'>

    <div class='info-module'>
      <div class='heading'>
        <span>Biology/Chemistry/Physics</span>
        <span>11%</span>
      </div>
      <div class='progress biology'></div>
    </div>
    <div class='info-module'>
      <div class='heading'>
        <span>Laboratory</span>
        <span>28%</span>
      </div>
      <div class='progress laboratory'></div>
    </div>
    <div class='info-module'>
      <div class='heading'>
        <span>Computers/IT</span>
        <span>19%</span>
      </div>
      <div class='progress computers'></div>
    </div>
    <div class='info-module'>
      <div class='heading'>
        <span>Communications/Phones</span>
        <span>17%</span>
      </div>
      <div class='progress communication'></div>
    </div>
    <div class='info-module'>
      <div class='heading'>
        <span>Genetics/DNA</span>
        <span>13%</span>
      </div>
      <div class='progress genetics'></div>
    </div>
    
  </div>
                                                    </div>
                                                </div>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    </div>     
                                </div>
                        </div>
                      
                </div>
            </div>
        </div>
    </div>
                                    </div>
                                    </div>     
                                </div>
                        </div>
                      
                </div>
            </div>
        </div>
    </div> -->
</div>
</div>
</body>
    <script src='js/donutexec.js'></script>
    <script src='js/index-bar.js'></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/chart.min.js'></script>
</html>